# file types to ignore
.*
!/.packit.yaml
!/.clang-format
!/.clang-tidy
!/.git-blame-ignore-revs
!/.gitattributes
!/.gitignore
!/.gitmodules
!/.pre-commit-config.yaml
!/.pylintrc
!/.github/
!/contrib/.vscode/
!*.gitattributes
!*.gitignore
*.DS_Store
*.pyc
*.obj
*.lib
*.pch
*.vcproj
*.kdev4
*.exp
*.dep
*.manifest
*.o
*.orig
*.output
# Ignore .db files created by Qt Designer when editing .ui files
*.db
qrc_*.cpp
BuildLog.htm
cmake_install.cmake
*~
CMakeFiles/
*qrc.depends
ui_*.h
moc_*.cpp
Makefile
CMakeCache.txt
CMakeLists.txt.user
config.h
install_manifest.txt
/bin/
/ALL_BUILD.dir/
/doc/
/lib/
/Mod/
/ZERO_CHECK.dir/
/build/
/build-*/
/cmake-build*/
/src/Tools/offlinedoc/localwiki/
/src/Tools/offlinedoc/*.txt
/conda/environment.yml
/.vscode/
OpenSCAD_rc.py
tags
/CMakeUserPresets.json
Testing
compile_commands.json
*.sublime-project
*.sublime-workspace

# crowdin file
src/Tools/freecad.zip
tsupdate_stderr.log
tsupdate_stdout.log
files_to_translate.txt
# pixi environments
.pixi
*.egg-info

# BNC build artifacts
build_log.txt
full_build_log.txt
install_log*.txt
sketcher_retry_log.txt
rebuild.log
rebuild_log.txt
rebuild_icons.log
build_stderr.txt
build_stdout.txt
install_build.log
fc_stdout.txt
freecad_test*.log
nsis_log.txt
7z_log.txt
HRMS_ref.drawio

# BNC installer artifacts
installer/*.7z
installer/*.7z.tmp*
installer/7z.dll
installer/7z_rebuild_log.txt
installer/7z_rebuild*.log
installer/7z_log*.txt
installer/7z_new_build.log
installer/test_extract/
installer/*.exe
installer/*.exe.old
installer/7zr.exe
installer/nsis_*.txt
installer/nsis_*.log
installer/BNC_CAD.ico
installer/b64_chunks.txt
installer/icon_b64.txt
installer/new_icon_b64.txt

# Python cache
__pycache__/

# BNC test scripts (not part of source)
test_*.py

# Backup files
*.bak
*.svg.bak
install_log*.txt
sketcher_retry_log.txt
